<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
<div class="container">
  <div class="mainHeader">
    <div class="mainNav">
      
      <button (click)= "open()" class="mobile">☰</button>
      
      <nav id="nav">
        <ul>
          <li>الرئيسية</li>
          <li>عن التطبيق</li>
          <li>حمل التطبيق</li>
          <li>تواصل معنا</li>
          <li> <button class="joinUs" type="button">انضم إلينا</button> </li>
          <li *ngIf="login"><button (click)="logOut()">تسجيل الخروج</button></li>
        </ul>
      </nav>
    </div>
    <div class="logo">
      <img src="../../assets/logo.png">
    </div>
  </div>
  </div>
  </header>

<router-outlet></router-outlet>
<footer>
<div class="container">
  <div class="socialIcons">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-linkedin"></a>
  </div>
  <div class="policy">
      <p>حقوق النشر محفوظة2019 </p>
    </div>

</div>
</footer>